body
{
    color: blue;
    text-align: center;
    font-family: arial;
    margin: 0;
    padding: 0;
}
#container
{
    width: 80%;
    padding: 1em;
    text-align: center;
    border : 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 30px;

}
#tagline 
{
    font-size: 30px;
    font-family: arial black;
  color: whitesmoke;
    text-align: center;
    border-color: blue;
    background: blue;
}

#cabecera 
{
    font-size: 40px;
    font-family: arial black;
  color: red;
    text-align: center;
    border-color: blue;
    background: blue;
}